.tweetbox{
    padding-bottom:10px ;
    border-bottom: 8px solid var(--twitter-color);
    padding-right:10px ;

}
.tweetbox > form{
    flex-direction: column;
    display: flex;
}
.tweetbox_input{
    padding: 20px;
    display: flex;

}
.tweetbox_input > input{
 flex: 1;
 margin-left: 20px;
 font-size: 20px;
 border: none;
 outline: none;
}

.tweetbox_imageInput{
    border: none;
    padding: 10px;
    outline: none;
}

.tweetbox_tweetButton{
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    margin-top: 20px !important;
    width: 80px !important;
    margin-left: auto;

}